{% extends "default_base.html" %}

{% block head %}
<script>
$('#questTypeTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
<script>$('#questTypeTabs a:first').tab('show')
</script>
{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>How To Play!</h1>
      <p>This is a general explanation on how Point to Point Quests work</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% if quest_types %}
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        {% for quest_type in quest_types %}
          {% if forloop.counter0 == 0 %}
            <li class="active"><a href="#{{ quest_type.short_name }}" role="tab" data-toggle="pill">{{ quest_type.name }}s</a></li>
          {% else %}
            <li><a href="#{{ quest_type.short_name }}" role="tab" data-toggle="pill">{{ quest_type.name }}s</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {% for quest_type in quest_types %}
          {% if forloop.counter0 == 0 %}
            <div class="tab-pane fade in active" id="{{ quest_type.short_name }}">
              <h2>Who's It For</h2>
              {{ quest_type.who_is_it_for|linebreaks }}
              <h2>What It Is</h2>
              {{ quest_type.what_it_is|linebreaks }}
              <h2>How It Works</h2>
              {{ quest_type.how_it_works|linebreaks }}
              <h2>Other Details</h2>
              {{ quest_type.other_details|linebreaks }}
            </div>
          {% else %}
            <div class="tab-pane fade" id="{{ quest_type.short_name }}">
              <h2>Who's It For</h2>
              {{ quest_type.who_is_it_for|linebreaks }}
              <h2>What It Is</h2>
              {{ quest_type.what_it_is|linebreaks }}
              <h2>How It Works</h2>
              {{ quest_type.how_it_works|linebreaks }}
              <h2>Other Details</h2>
              {{ quest_type.other_details|linebreaks }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
        No rules detected, anarchy mode enabled!
    {% endif %}
  </div>
</div>
{% endblock %}
