{% extends "default_base.html" %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>How To Play!</h1>
      <p>This is a general explanation on how Point to Point Quests work</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="media">
      <a class="pull-left">
        <img>
      </a>
      <div class="media-body">
        <h4 class="media-heading">1.</h4>
        Step 1
      </div>
    </div>
  </div>
</div>
{% endblock %}
