{% extends "default_base.html" %}

{% load bootstrap3 %}

{% block jumbotron %}
<div class="well well-sm">
	<h1>{{ user.username }}'s Profile</h1>
	<p>Here you can view and modify your profile as well as view your quest history</p>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6">
    {% if profile.game_instances.all %}
      <h1>Completed Quests</h1>
      {% for game_instance in profile.game_instances.all %}
        <h2>{{ game_instance.competition }}</h2>
        <p>{{ game_instance.competition.description }}</p>
        <a class="btn btn-warning" href="{% url 'leaderboard_detail' game_instance.competition.id game_instance.competition.slug %}" role="button">View the leaderboard for {{ game_instance.competition }}</a>
      {% endfor %}
    {% else %}
      <h1>Oops, You haven't completed any quests yet!</h1>
      <p>Your completed quests will show up here once you finish them, we promise!</p>
    {% endif %}
    </div>
    <div class="col-md-6">

    	<h1>Your Info</h1>
      {% if user.profile.phone_number_verified %}
        Verified
        {% for numbers in verified_number_list %}
          numbers
        {% endfor %}
      <a class="btn btn-warning" href="/profile/getpin" role="button">Verify another phone number</a>    
      {% else %}
        <a class="btn btn-warning" href="/profile/getpin" role="button">Verify your phone number</a>  
      {% endif %}     
      <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary" value="Update Profile">
            Update 
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}