{% extends "default_base.html" %}

{% load static %}

{% block jumbotron %}
<div class="row">
  <div class="well col-lg-6 col-md-6 col-sm-5 col-xs-12">
    <h1>Welcome to Point to Point Quests!</h1>
    <p>We send you riddles & clues on your phone.</p>
    <p>You & your team discover a city whilst playing a game.</p>
    <p>Choose the way you want to discover a city.</p>
  </div>
  <div class="col-lg-1 visible-lg"></div>
  <div class="col-lg-5 col-md-6 col-sm-7 hidden-xs">
    <img src="{% static "assets/images/point_to_point_logo.png" %}" class="img-responsive inline-block" alt="p2p logo"/>
  </div>
</div>
{% endblock %}

casual quest
more informative 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="centered">
        <h1>Interested about the city you are in?</h1>
        <p>Go on a walking tour with your phone as the guide.</p>
        <p>Terrific for toursists wanting to explore a new city.</p>
        <p>Let your phone guide you while you soak up the scenes.</p>
        <a href="/quests/casual" class="btn btn-primary btn-lg" role="button">Casual Quests</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="centered">
        <h1>Looking for an adventure?</h1>
        <p>We send you riddles & clues on your phone.</p>
        <p>You & your team discover a city whilst playing a game.</p>
        <p>Compete against friends or strangers!</p>
        <a href="/quests/adventure" class="btn btn-primary btn-lg" role="button">Adventure Quests</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="centered">
        <h1>Wanting a fun night out?</h1>
        <p>Explore what the city has to offer, off the beaten path.</p>
        <p>Discover new restaurants, bars and other late night food joints.</p>
        <p>Receive discounts in the places we send you.</p>
        <a href="/quests/evening" class="btn btn-primary btn-lg" role="button">Evening Quests</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="centered">
        <h1>App experience coming soon!</h1>
        <p>We are working our socks off to bring the Point to Point Quest experience to all of your handheld devices.</p>
        <p>Soon you will be able to use your iOS, Android or Windows device to experience all our quests without needing a cell phone plan.</p>
        <p>We will be building on top of the current functionality but adding heaps of new content to make each quest experience more interesting.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
{% endblock %}