Django==1.6.5
django-twilio==0.5.2
django-bootstrap3==4.7.0
django-celery==3.1.10
pytz==2014.4
South==0.8.4
django-allauth==0.17.0
django-phonenumber-field==0.5
psycopg2==2.5.3
setproctitle==1.1.8
gunicorn==19.0.0
django-timedeltafield==0.7.3
dj-static==0.0.5
twilio==3.6.5
Celery==3.1.11
stripe==1.16.0
librabbitmq==1.5.2
stripe==1.18.0