{% extends "base.html" %}

{% load bootstrap3 %}

{% block jumbotron %}
<div class="well well-sm">
  <h1>Login</h1>
  <p>Have more control over your experience, view your quest history and performances</p>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <form method="post" action="">
      {% csrf_token %}
      {% bootstrap_form form_l %}
      {% buttons %}
        <button type="submit" class="btn btn-primary" value="login">
          {% bootstrap_icon "star" %} Submit 
        </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
