{% extends "base.html" %}

{% block jumbotron %}
<div class="well well-sm">
  <h1>Sign Up!</h1>
  <p>This isn't necasary but if you do sign up or login you will be able to view and keep track of your quest history.</p>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6">
    <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign Up</a> 
  </div>
  <div>
    <div class="col-md-6">
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a> 
      </button>
    </div>
  </div>
</div>
{% endblock %}