{% extends "default_base.html" %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Succesfully Deregistered!</h1>
      <p>We hope you come back!</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Why you are here</h1>
    <p>You deregistered your game, this frees up your team names and mobile numbers for other exciting quests</p>
    <p>If you are here in error, please let us know at andy@p2pquests.com</p>
  </div>
</div>
{% endblock %}