{% extends "default_base.html" %}

{% load bootstrap3 %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>{{ competition.name }}</h1>
      <p>{{ competition.description }}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Register today, play when you want!</h1>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form_t %}
      {% buttons %}
      <button type="submit" class="btn btn-primary" value="Create Team">
        {% bootstrap_icon "star" %} Submit 
      </button>
      {% endbuttons %}
    </form>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_R96N2i8ggtgiRoOgiZLk8AmR"
        data-amount="2000"
        data-name="{{ competition.name }} ($20.00)"
        data-description="{{ competition.description }}"
        data-image="/128x128.png">
      </script>
  </div>
</div>
{% endblock %}
