{% extends "default_base.html" %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Evening Quests!</h1>
        <p>Feel like you have seen too many bars or restaurant chains? You are in the right place.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <h1>Active Quests</h1>
    {% if competition_list %}
      <ul>
        {% for competition in competition_list %}
          <div class="featurette">
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">{{ competition.name }} <span class="text-muted"></span></h2>
                  <p class="lead">{{ competition.description }}</p>
                  <p class="small">Estimated Duration: <b>{{ competition.estimated_duration }} hours</b></p>
                  <p class="small">Dates Available: <b>{{ competition.start_date|date }}</b> to <b>{{ competition.end_date|date }}</b></p>
                  <p class="small">Days Available:<b>
                    {% if competition.saturday == True %}
                      Saturday
                    {% endif %}

                    {% if competition.sunday == True %}
                      Sunday
                    {% endif %}

                    {% if competition.monday == True %}
                      Monday
                    {% endif %}

                    {% if competition.tuesday == True %}
                      Tuesday
                    {% endif %}

                    {% if competition.wednesday == True %}
                      Wednesday
                    {% endif %}

                    {% if competition.thursday == True %}
                      Thursday
                    {% endif %}

                    {% if competition.friday == True %}
                      Friday
                    {% endif %}
                  </b>
                  </p>
                  <p class="small">Times Available: must start by <b>{{ competition.start_time }}</b></p>
                  <p class="small">Notes: All teams must finish by <b>{{ competition.end_time }}</b></p>
                  <h3 class="featurette-heading">${{ competition.price|floatformat:2 }}<span class="text-muted"></span>
                    <a class="btn btn-warning" href="{% url 'detail' competition.id competition.slug %}" role="button">Register Your Team!</a></h3>
                  </div>
                  <div class="col-md-5">
                </div>
              </div>
          </div>
        {% endfor %}
      </ul>
    {% else %}
      <p>No quests are available.</p>
    {% endif %}
  </div>
  
  {% if expired_list %}
  <div class="col-md-12">
    <h1>Expired Quests</h1>
    <ul>
      {% for competition in expired_list %}
        <div class="featurette">
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ competition.name }} <span class="text-muted"></span></h2>
              <p class="lead">Quest ended {{ competition.end_date|date }}</p>
            </div>
          </div>
        </div>  
      {% endfor %}  
    </ul>
  </div>
  {% endif %}    
</div> <!-- /container -->
{% endblock %}