{% extends "default_base.html" %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Quest List!</h1>
      <p>This is where the adventure begins!</p>
        <p>We have a variety of quests for you to choose from and they vary by theme, duration and difficulty. 
          We are certain you will find something you will enjoy!</p>
        <p>We are constantly adding more quests to this list to ensure that you always have a new and exciting Point to Point Quest to embark on!</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% if quest_types %}
      {% for quest_type in quest_types %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="centered">
            <h1>{{ quest_type.caption }}</h1>
            <p>{{ quest_type.description|linebreaks }}</p>
            <a class="btn btn-primary btn-lg" href="{% url 'quest_type' quest_type.id quest_type.slug %}" role="button">{{ quest_type.name }}s</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="centered">
          <h1>Quests coming soon!</h1>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}