{% extends "default_base.html" %}

{% block jumbotron %}
<div class="row">
	<div class="col-md-12">
		<div class="well well-sm">
		  <h1>About Us</h1>
		  <p>What, Why, Where, When & How</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Why?</h1>
			  <p>Point2Point was created in the spring/autumn of 2014 by Andy, while he was stuck in limbo waiting for his permanant residency application to come through.</p>
			<h1>
		</div>
	</div>
</div>
{% endblock %}
