{% extends "default_base.html" %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Leaderboards</h1>
      <p>Here are the top 10 times for each Point to Point quest.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="col-md-12">
    <div class="container">
      {% if competition_list %}
        {% for competition in competition_list %}
          <div class="featurette">
            <div class="row">
              <h2>{{ competition.name }}</h2>
              {% if ended_game_list %}
                <div class = "table-responsive">
                  <table class="table">
                    <tr>
                      <th>#</th>
                      <th>Team Name</th>
                      <th>Penalties Incurred</th>
                      <th>Time Before Penalties</th>
                      <th>Time After Penalties</th>
                      <th>Average Solve Time</th>
                    </tr>
                    {% for ended_game in ended_game_list %}
                      {% if ended_game.competition == forloop.parentloop.counter0 %}
                        <tr>
                          <td>{{ ended_game.position }}</td>
                          <td>{{ ended_game.name }}</td>
                          <td>{{ ended_game.penalties }}</td>
                          <td>{{ ended_game.time_bp }}</td>
                          <td>{{ ended_game.time_ap }}</td>
                          <td>{{ ended_game.average_time }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                    {% for ongoing_game in ongoing_game_list %}
                      {% if ongoing_game.competition == forloop.parentloop.counter0 %}
                        <tr>
                          <td>{{ ongoing_game.position }}</td>
                          <td>{{ ongoing_game.name }}</td>
                          <td>{{ ongoing_game.penalties }}</td>
                          <td>{{ ongoing_game.time_bp }}</td>
                          <td>"---"</td>
                          <td>{{ ongoing_game.average_time }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                    {% for dnf_game in dnf_game_list %}
                      {% if dnf_game.competition == forloop.parentloop.counter0 %}
                        <tr>
                          <td>{{ dnf_game.position }}</td>
                          <td>{{ dnf_game.name }}</td>
                          <td>{{ dnf_game.penalties }}</td>
                          <td>{{ dnf_game.time_bp }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </table> 
                </div>
              {% else %}
                <p>Nobody has clocked a time yet. be the first, sign up now!</p>
              {% endif %}
            </div>
            <div>
              <a class="btn btn-warning" href="{% url 'leaderboard_detail' competition.id competition.slug %}" role="button">View all times for this quest</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No quests are available.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}