{% extends "default_base.html" %}

{% load bootstrap3 %}

{% block head %}
  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('{{publishable}}');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Let's Pay!</h1>
      <p>Please pay by credit card</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class='row'>
    {% if has_paid == True %}
      <h2>You've already paid!</h2>
      <p>...and if you haven't, this can be our little secret.</p>
    {% else %}
      <h2>Your total is ${{amount}}.00</h2>
      <div class='col-md-4 .col-md-offset-4'>
        <form action="" method="POST" id="payment-form">
          {% csrf_token %}
          <div class="form-group">
            <span class="payment-errors"></span>

            <div class="form-row">
              <label>
                <span>Card Number</span>
                <input class="form-control" type="text" size="20" data-stripe="number"/>
              </label>
            </div>

            <div class="form-row">
              <label>
                <span>CVC</span>
                <input class="form-control" type="text" size="4" data-stripe="cvc"/>
              </label>
            </div>

            <div class="form-row">
              <label>
                <span>Expiration Date</span>
                <select class="form-control" data-stripe="exp-month">
                  {% for i in "xxxxxxxxxxxx" %}
                    <option value={{forloop.counter}}>{{forloop.counter}}</option>
                  {% endfor %}
                </select>
              </label>
              <label>
                <select class="form-control" data-stripe="exp-year">
                  <option value=2014>2014</option>
                  <option value=2015>2015</option>
                  <option value=2016>2016</option>
                  <option value=2017>2017</option>
                  <option value=2018>2018</option>
                  <option value=2019>2019</option>
                  <option value=2020>2020</option>
                  <option value=2021>2021</option>
                  <option value=2022>2022</option>
                  <option value=2023>2023</option>
                  <option value=2024>2024</option>
                  <option value=2025>2025</option>
                </select>
              </label>
            </div>
            <button class="btn btn-primary" type="submit">Submit Payment of ${{amount}}.00</button>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}