{% extends "default_base.html" %}

{% load bootstrap3 %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Thank you!</h1>
      <p>Get started</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}	
<div class="container">
  <div class='row'>
  	<h1>Awesome!</h1>
  	<p>Every captain should have received a welcome message by email and on their phone.</p>
  	<p>You can start the quest whenever you like, just make sure you start it within the allowed time boundries of the quest if there are any. Every quest has different time restrictions!</p>
  	<h1>Things you should know</h1>
  	<p>
	there are several key words you can use to help you along your way, these are:<br>
	<b>"add number"</b> - batteries don't last forever, add an additional phone number to your team as a backup. For example send "add number +15141234567"<br>
	<b>"game help"</b> - displays these commands on your phone<br>
	<b>"repeat"</b> - repeats the current riddle, clue or question<br>
	<b>"game info"</b> - displays you various information regarding your progress<br>
	<b>"location hint"</b> - Gives you a clue on where you need to be, the first location hint is free an additional location hint will be a 10 minute penalty<br>
	<b>"clue hint"</b> - Gives you a clue to solve the riddel, the first clue hint is free an additional clue hint will be a 10 minute penalty<br>
	<b>"skip"</b> - Skips the current question but adds a 30 minute penalty, only to be used when you really can't figure it out!<br>
	<b>"game quit"</b> - quits your current quest, there is no undoing this! YOU HAVE BEEN WARNED<br>
	</p>

	<h1>Happy Questing</h1>
	<p>If you experience any problems with our quests, please let us know at andy@p2pquests.com and we will quickly try correct them.</p>
	<p>You can now follow your team on the leaderboards and register your phone number on your profile page (if you have one).</p>
	<p>If you don't have an acocunt with us, why not create one. You can keep a history of your completed quests and, if you like, we can alert you to new quests and promotions.</p>
  </div>
</div>

{% endblock %}